<!--<!doctype html>-->
<html lang="en" layout:decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Membres</title>
</head>
<body>

<!--contenu principal de notre page -->
<main layout:fragment="content">
    <h2>Ajouter un membres</h2>

    <!--je gère un formulaire synchronisé avec mon objet membre-->
    <form th:action="@{/membres}" method="post" th:object="${membre}" >
        <div class="form-element">
            <label>Prenom</label>
            <input type="text" th:field="*{prenom}"> <!--je veux mettre à jour via ce champs l'attribut "prenom" de mon objet membre-->
        </div>
        <div class="form-element">
            <label>Nom</label>
            <input type="text" th:field="*{nom}"> <!--je veux mettre à jour via ce champs l'attribut "nom" de mon objet membre-->
        </div>

        <div class="form-element">
            <label>Pseudo</label>
            <input type="text" th:field="*{pseudo}"> <!--je veux mettre à jour via ce champs l'attribut "pseudo" de mon objet membre-->
        </div>

        <div class="form-element">
            <label>Mot de passe</label>
            <input type="password" th:field="*{motDePasse}"> <!--je veux mettre à jour via ce champs l'attribut "motDePasse" de mon objet membre-->
        </div>
        <div class="form-element">
            <label>Admin</label>
            <input type="checkbox" th:field="*{admin}"> <!--je veux mettre à jour via ce champs l'attribut "admin" de mon objet membre-->
        </div>

        <div class="form-element">
            <button>Valider</button>
        </div>
    </form>

    <h2>Liste des membres</h2>

    <table class="full-width">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Pseudo</th>
            <th>Mot De Passe</th>
            <th>Admin</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!--pour chaque film contenu dans ma liste "films" (attribut du modèle, je vais créer un tr avec th:each-->
        <tr th:each="membre : ${membres}">
            <td th:text="${membre.id}"></td>
            <td th:text="|${membre.prenom} ${membre.nom}|"></td>
            <td th:text="${membre.pseudo}"></td>
            <td th:text="${membre.motDePasse}"></td>
            <td th:text="${membre.admin ? '✅' :''}"></td>
            <td>
                <form th:action="@{/membres/delete}" method="post">
                    <button name="idToDelete" th:value="${membre.id}" class="delete-button">X</button>
                </form></td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>